.hidden {
    display: none;
}

#favorite-data {
    background-color: plum;
}

#movie-result {
    background-color: aquamarine;
}

#book-result {
    background-color: lightskyblue;
}

#video-game-result {
    background-color: lightsalmon;
}

#anime-result {
    background-color: goldenrod;
}



#clear-button {
    margin-left: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/*Testing saved history*/
.saved-history {
    background-color: wheat;
}
.saved-result {
    margin: 5px;
}