.hidden {
    display: none;
}

#Title {
    font-size: 3rem;
}

.radio-text {
    font-size: 1.5rem;
}


#favorite-data {
    background-color: plum;
}

#movie-result {
    background-color: aquamarine;
}

#book-result {
    background-color: lightskyblue;
}

#video-game-result {
    background-color: lightsalmon;
}

#anime-result {
    background-color: goldenrod;
}



#clear-button {
    margin-left: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/*Testing saved history*/
.saved-history {
    background-color: wheat;
}
.saved-result {
    margin: 5px;
}

/* SPINNER */
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
