body {
    background-image: url(../images/greenbluepolybackground.jpg);
}

/* Search bar button */
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }

/* Input form height */
.submissionfield { width: 100%; height: 100px; border: 1px solid #999999; padding: 5px; }

/* Center align */
.align-center {
    display: block;
    margin: 1.0em auto;
    text-align: center;
}

.faded-background {
    background-color: white;
    opacity: 0.75;
}
.faded-background:hover {
    background-color: #1779BA;
    opacity: 1.0;
}

.faded-background:active {
    background-color: rgb(55, 253, 204);
    opacity: 1.0;
}

/* Edge rounded */
.round-corner {
    border-radius: 500px;
}

.right-align {
    float: right;
}


.hidden {
    display: none;
}

#Title {
    font-size: 3rem;
}

.radio-text {
    font-size: 1.5rem;
}


#favorite-data {
    background-color: plum;
}

#movie-result {
    background-color: aquamarine;
}

#book-result {
    background-color: lightskyblue;
}

#video-game-result {
    background-color: lightsalmon;
}

#anime-result {
    background-color: goldenrod;
}



#clear-button {
    margin-left: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/*Testing saved history*/
.saved-history {
    background-color: wheat;
}
.saved-result {
    margin: 5px;
}

/* SPINNER */
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
