header {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

body {
  background-image: url(../images/greenbluepolybackground.jpg);
  background-size: cover;
}

#Title {
  font-size: 3rem;
}

/* Search bar button */
.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }

/* Rounded mature button */
.rounded-mature {
  border-radius: 5000px;
    padding-left: 1rem;
    background-color: rgba(255, 73, 73, 0.85);
}

#mature-text{
  font-size: 1.3rem;
  float:left;
  margin-left:1rem;
  text-shadow: 0 0 5px #ffe6e6;
}

.rounded {
  border-radius:5000px!important
}

.rounded .switch-paddle{
  border-radius:5000px!important;
}

.rounded .switch-paddle:after{
  border-radius:50%;
}

/* Input form height */
.submissionfield { width: 100%; height: 100px; border: 1px solid #999999; padding: 5px; }

/* Center align */
.align-center {
  display: block;
  margin: 1.0em auto;
  text-align: center;
}

/* White/Blue div colorization */
.faded-background {
  background-color: white;
  opacity: 0.75;
}
.faded-background:hover {
  background-color: #1779BA;
  opacity: 1.0;
}

.faded-background:active {
  background-color: rgb(55, 253, 204);
  opacity: 1.0;
}

.faded-background-results {
  background-color: white;
  opacity: 0.9;
}

/* Edge rounded */
.round-corner {
  border-radius: 500px;
}

.right-align {
  float: right;
}

.hidden {
  display: none;
}

/* Radio button */
.radio-text {
  font-size: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

/* Favorite results */
#favorite-data {
  padding: 1rem;
}

/* Results */
.results-container {
  padding: 1rem;
}

#clear-button {
  margin-left: 0.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#saved-buttons{
  padding-bottom: 1rem;
}

/*Testing saved history*/
.saved-history {
  background-color: rgb(218, 218, 218);
}

.saved-result {
  margin: 5px;
  font-size: 1.25rem;
}

#saved-searches-header{
  padding-top: 1rem;
  text-align: center;
}

/* Spinner animation */
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

/* Media queries for results page */
@media only screen and (min-width: 1190px) {
    #movie-results {
    margin: 0 0.5rem 0.5rem 0;
    width: 49.2%;
  }

  #book-result {
    margin: 0 0 0.5rem 0.5rem;
    width: 49.2%;
  }

  #video-game-result {
    margin: 0.5rem 0.5rem 0 0;
    width: 49.2%;
  }
    
    #anime-result {
      margin: 0.5rem 0 0 0.5rem;
      width: 49.2%;
    }
}
  
@media only screen and (min-width: 1190px) {
  #movie-result {
    margin: 0 0.5rem 0.5rem 0;
    width: 48%;
  }
    
  #book-result {
    margin: 0 0 0.5rem 0.5rem;
    width: 48%;
  }
    
  #video-game-result {
    margin: 0.5rem 0.5rem 0 0;
    width: 48%;
  }
    
  #anime-result {
    margin: 0.5rem 0 0 0.5rem;
    width: 48%;
  }
}
  
@media only screen and (max-width: 900px) {
  #movie-result {
    margin: 1rem 0 1rem 0;
    width: 100%;
  }
    
  #book-result {
    margin: 1rem 0 1rem 0;
    width: 100%;
  }
    
  #video-game-result {
    margin: 1rem 0 1rem 0;
    width: 100%;
  }
    
  #anime-result {
    margin: 1rem 0 1rem 0;
    width: 100%;
  }
}